*~
src/python/build
lib/data/print_data_string.exe
lib/data/print_data_string.exe.so
Makefile
*.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
docs/html/
docs/libnatspecDox.cfg
install-sh
.deps/
.libs/
*.lo
*.o
*.la
libnatspec.pc
libtool
ltmain.sh
missing
natspec.m4
src/natspec
stamp-h1
tests/test_get_charset
